/* tags */
ul.tagbox-tags {
  background-color: #fff;
  border: 1px solid #AAA;
  cursor: text;
  padding: 0 0 2px 2px;
}

ul.tagbox-tags li {
  border: 1px solid transparent;
  display: inline-block;
  list-style-type: none;
  padding: 1px 0 2px;
  margin: 2px 2px 0 0;
}

ul.tagbox-tags li.tagbox-tag {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: inherit;
  background-color: #dee7f8;
  border-radius: 5px;
  border-color: #a4bdec;
  padding-left: 5px;
  padding-right: 5px;
  white-space: pre;
}
ul.tagbox-tags li.tagbox-tag.tagbox-selected {
  background-color: #598bec;
  border-color: #598bec;
  color: #fff;
}

/* tagbox */
.tagbox li {
  list-style-type: none;
}
.tagbox-selected ul.tagbox-tags {
  outline: auto 5px -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* remove 'x' */
a.tagbox-remove {
  background: url(remove.png) no-repeat 2px 2px;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  line-height: 100px;
  margin: -2px -2px  0 4px;
  overflow: hidden;
  vertical-align: middle;
  width: 12px;
}
li.tagbox-selected a.tagbox-remove {
  background-position: 2px -8px;
}

/* main text input */
ul.tagbox-tags li input[type=text] {
  background-color: transparent;
  border: none;
  font: inherit;
  display: inline;
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
}

/* drop-down text */
.tagbox-autocomplete,
.tagbox-hint {
  background-color: #eee;
  margin-top: -1px;
  position: absolute;
  width: 100%;
}
.tagbox-hint {
  border: 1px solid #ddd;
  border-width: 0 1px 1px;
  padding: 2px 4px 3px;
}

/* autocomplete */
.tagbox-autocomplete {
  z-index: 2;
}
.tagbox-autocomplete li.tagbox-tag {
  border: 1px solid #ddd;
  border-width: 0 1px 1px;
  padding: 3px 4px;
}
.tagbox-autocomplete li.tagbox-tag.tagbox-selected {
  background-color: #598bec;
  border-color: #598bec;
  color: #fff;
}
.tagbox-autocomplete li.tagbox-tag em {
  background-color: #ccc;
  font-style: normal;
}
.tagbox-autocomplete li.tagbox-tag.tagbox-selected em {
  background-color: #396bcc;
}

/* for IE7 */
* + html div.tagbox ul.tagbox-tags li {
  display: inline;
  zoom: 1;
}
* + html div.tagbox ul.tagbox-tags li input[type=text] {
  vertical-align: middle;
}
